<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express App</title>
  </head>
  <body>
    <h1>FACULTY PROFILE</h1>
    <p>Name: <%= data.name %></p>
    <p>Age: <%= data.age %></p>
    <p>Date of Birth: <%= data.dob %></p>
    <p>Date of Joining: <%= data.dateOfJoining %></p>
    <p>Highest Qualification: <%= data.highestQualification %></p>
    <p>SSN ID: <%= data.ssnid %></p>
    <p>Digital ID: <%= data.digitalId %></p>
    <p>Alternate Email ID: <%= data.alternateEid %></p>
    <p>Anna University Faculty ID: <%= data.annaUniFacultyId %></p>
    <p>Phone Number: <%= data.phoneNumber %></p>
    <p>Address: <%= data.address %></p>
    <p>AICTE ID: <%= data.aicteId %></p>
    <p>Blood Group: <%= data.bloodGroup %></p>
  </body>
</html>
